@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist Sans', system-ui, sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
  --font-roboto: 'Roboto', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --font-geist-sans: 'Geist Sans', system-ui, sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto);
}

.roboto {
  font-family: var(--font-roboto);
}

.poppins {
  font-family: var(--font-poppins);
}

code, pre, kbd, samp {
  font-family: var(--font-geist-mono);
}
